@media only screen and (max-width: 480px) {

    /* For mobile phones */

    #mainTemp {
        width: 90%;
        float: left;
        clear: left;

    }

    #secondTemp {
        width: 90%;
        float: left;
        clear: left;
    }

}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    /* For tables */

    #mainTemp {
        width: 90%;
        float: left;
        clear: left;
    }

    #secondTemp {
        width: 90%;
        float: left;
        clear: left;
    }

}

@media only screen and (min-width: 1024px) {

    /* For computers */
    
    #mainTemp {
        width: 50%;
        float: left;
    }

    #secondTemp {
        width: 50%;
        float: left;
        clear: right;
    }

}

body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 36px;
    font-family: cursive;
    text-align: center;
}

#mainTemp {
    width: 50%;
    grid-area: "main";
    float: left;
}

#secondTemp {
    width: 50%;
    grid-area: "second";
    float: left;
}

footer {
    font-size: 18px;
    font-family: cursive;
    text-align: center;
}

p, label, button, input {
    font-size: 18px;
    font-family: cursive;
    text-align: left;
}