@media only screen and (max-width: 480px) {

    /* For mobile phones */
    body {
        background-color: rgb(54, 8, 8);
    }

    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header"
            "mainTemp"
            "secondTemp"
            "footer";
    }

    h1 {
        grid-area: "header";
    }

    #mainTemp {
        width: 90%;
        grid-area: "mainTemp";
    }

    #secondTemp {
        width: 90%;
        grid-area: "secondTemp";
    }

    footer {
        grid-area: "footer";
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    /* For tables */
    body {
        background-color: rgb(15, 44, 15);
    }

    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header"
            "mainTemp"
            "secondTemp"
            "footer";
    }

    h1 {
        grid-area: "header";
    }

    #mainTemp {
        width: 90%;
        grid-area: "mainTemp";
    }

    #secondTemp {
        width: 90%;
        grid-area: "secondTemp";
    }

    #footer {
        grid-area: "footer";
    }
}

@media only screen and (min-width: 1024px) {

    /* For computers */
    body {
        background-color: rgb(22, 22, 51);
    }
}

body {
    color: blanchedalmond;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header"
        "main second"
        "footer";
}

h1 {
    font-size: 24px;
    font-family: cursive;
    text-align: center;
    grid-area: "header";
}

#mainTemp {
    grid-area: "main";
}

#secondTemp {
    grid-area: "second";
}

#footer {
    grid-area: "footer";
}

p {
    font-size: 16px;
    font-family: cursive;
    text-align: left;
}